{% extends "base.html" %}
{% load cms_tags %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
        <center>
            <form method="POST" class="post-form" action="/en/emp"  >
                {% csrf_token %}
                <div class="container" align="center">
                    <br>
                    <div class="form-group row" >
                        <label class="col-sm-1 col-form-label"></label>
                        <div class="row-sm-1">
                            <h3><u>Enter Details</u></h3>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row-sm-1">
                    <label class="row-sm-1 col-form-label" >FirstName:</label>
                        {{ form.fname }}
                </div>
                <br/>
                <div class="form-group row-sm-1">
                    <label class="row-sm-1 col-form-label">Surname:</label>
                        {{ form.lname }}
                </div>
                <br/>
                <div class="form-group row-sm-1" >
                    <label class="row-sm-1 col-form-label">Email:</label>
                        {{ form.email }}
                </div>
                <br/>
                <div class="form-group row-sm-1 ">
                    <label class="row-sm-1 col-form-label">Contact:</label>
                        {{ form.contact }}
                </div>
                <br/>
                <div class="form-group row row-sm-1" >
                    <label class="row-sm-1 col-form-label"></label>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </center>
    {% endblock content %}
